@import 'base/index';
@import 'sass/index';
@import 'components/index';

.directorio-principal{ 
    width: 100%;
    background: #eef5fd;
    .content-directorio{
        display:flex;
        flex-direction: row;
        align-content: stretch;
        flex-wrap: wrap;
        padding: 60px 0 50px 0;
        @include respondto(minxs) {
            padding: 25px 0;
        }
        @include respondto(maxxs) {
            padding: 35px 0;
        }
        @include respondto(sm) {}
        @include respondto(md) {}
        @include respondto(lg) {}
       .content-card-directorio{
           height: auto;
           width: 33.333333%;
        //    padding:0 15px 0 15px;
           margin-bottom: 15px;      
           @include respondto(minxs) {
               width: 100%;
               margin-bottom: 15px;
           }
            @include respondto(maxxs) {
                width: 50%;
                padding: 0 10px 0 10px;
                margin-bottom: 10px;
            }
            @include respondto(sm) {
                width: 50%;
            }
            @include respondto(md) {}
            @include respondto(lg) {}
            .card-directorio{
                padding:33px 25px 26px 25px;
                display:flex;
                flex-direction: column;
                justify-content: flex-start;
                text-align: center;
                align-items: center;
                border: 1px solid transparent;
                &:hover{
                    border-color:#d8efdb;
                    border-radius:5px;
                }  
                img{
                    width: 77px;
                    height: 77px;
                }
                h4{
                    font-weight: 900;
                    margin:23px 0 23px 0;
                    line-height: 1;
                    color:#222a35;
                    font-size: 21px;
                    font-family: $font-Roboto;
                }
                p{
                    font-weight: 300;
                    margin:23px 0 23px 0;
                    line-height: 1.4;
                    color:#768292;
                    font-size: 17px;
                    font-family: $font-Roboto;
                    
                }
            }                     
        }
    }                      
}